In [1]:
#1) Create an empty dictionary called dog
dog = {}

In [2]:
#2) Add name, color, breed, legs, age to the dog dictionary
dog = {
    "Name" : "Oliver",
    "Color" : "Brown",
    "Legs" : 4,
    "age" : 5
}

In [3]:
print(dog)

{'Name': 'Oliver', 'Color': 'Brown', 'Legs': 4, 'age': 5}

In [4]:
print(dog.keys())

dict_keys(['Name', 'Color', 'Legs', 'age'])

In [5]:
print(dog.get("Name"))

Oliver

In [6]:
dog["Breed"] = "German Shepherd"

In [7]:
dog.items()

dict_items([('Name', 'Oliver'), ('Color', 'Brown'), ('Legs', 4), ('age', 5), ('Breed', 'German Shepherd')])

In [8]:
print(dog)

{'Name': 'Oliver', 'Color': 'Brown', 'Legs': 4, 'age': 5, 'Breed': 'German Shepherd'}

In [9]:
#3) Create a student dictionary and add first_name, last_name, gender, age, marital status, skills, country, city and address as keys for the dictionary

student = {
    "first_name" : "Emarld",
    "last_name" : "Stone",
    "gender" : "Female",
    "age" : 25,
    "martial status" : "Unmarried",
    "skills" :["SQL", "Python", "Power Bi","MS Excel", "Statistics", "Data Analysis"],
    "address":{
        "Country" : "USA",
        "City" : "San Jose",
        "Pincode" : 95101              
    }
}

In [10]:
print(student)

{'first_name': 'Emarld', 'last_name': 'Stone', 'gender': 'Female', 'age': 25, 'martial status': 'Unmarried', 'skills': ['SQL', 'Python', 'Power Bi', 'MS Excel', 'Statistics', 'Data Analysis'], 'address': {'Country': 'USA', 'City': 'San Jose', 'Pincode': 95101}}

In [11]:
#4) Get the length of the student dictionary
len(student)

7

In [12]:
#5) Get the value of skills and check the data type, it should be a list
for s in student["skills"]:
    print("Skills :",s, ",", "Datatype:", type(student["skills"]))

Skills : SQL , Datatype: <class 'list'>
Skills : Python , Datatype: <class 'list'>
Skills : Power Bi , Datatype: <class 'list'>
Skills : MS Excel , Datatype: <class 'list'>
Skills : Statistics , Datatype: <class 'list'>
Skills : Data Analysis , Datatype: <class 'list'>

In [13]:
print("Datatype of Skills in Student:", type(student["skills"]))

Datatype of Skills in Student: <class 'list'>

In [14]:
#6) Modify the skills values by adding one or two or more skills

sk = ["Tableau", "Machine Learning", "Automation", "Web Scrapping"]

for skill in sk:
    student["skills"].append(skill)

In [15]:
print(student)

{'first_name': 'Emarld', 'last_name': 'Stone', 'gender': 'Female', 'age': 25, 'martial status': 'Unmarried', 'skills': ['SQL', 'Python', 'Power Bi', 'MS Excel', 'Statistics', 'Data Analysis', 'Tableau', 'Machine Learning', 'Automation', 'Web Scrapping'], 'address': {'Country': 'USA', 'City': 'San Jose', 'Pincode': 95101}}

In [16]:
student_skill_lst = student["skills"].copy()

In [17]:
student_skill_lst

['SQL',
 'Python',
 'Power Bi',
 'MS Excel',
 'Statistics',
 'Data Analysis',
 'Tableau',
 'Machine Learning',
 'Automation',
 'Web Scrapping']

In [18]:
#7) Get the dictionary keys as a list

student_key = student.keys()
student_key

dict_keys(['first_name', 'last_name', 'gender', 'age', 'martial status', 'skills', 'address'])

In [19]:
#8) Get the dictionary values as a list

student_val = student.values()
student_val

dict_values(['Emarld', 'Stone', 'Female', 25, 'Unmarried', ['SQL', 'Python', 'Power Bi', 'MS Excel', 'Statistics', 'Data Analysis', 'Tableau', 'Machine Learning', 'Automation', 'Web Scrapping'], {'Country': 'USA', 'City': 'San Jose', 'Pincode': 95101}])

In [20]:
#9) Change the dictionary to a list of tuples using items() method

student.items()

dict_items([('first_name', 'Emarld'), ('last_name', 'Stone'), ('gender', 'Female'), ('age', 25), ('martial status', 'Unmarried'), ('skills', ['SQL', 'Python', 'Power Bi', 'MS Excel', 'Statistics', 'Data Analysis', 'Tableau', 'Machine Learning', 'Automation', 'Web Scrapping']), ('address', {'Country': 'USA', 'City': 'San Jose', 'Pincode': 95101})])

In [21]:
#10) Delete one of the items in the dictionary

dog.pop("age")

5

In [22]:
print(dog)

{'Name': 'Oliver', 'Color': 'Brown', 'Legs': 4, 'Breed': 'German Shepherd'}

In [23]:
#11) Delete one of the dictionaries

del dog

In [24]:
print(dog)

NameError: name 'dog' is not defined