# Exercises: Level 1

In [1]:
#1) Create an empty tuple
t = ()

In [2]:
#2) Create a tuple containing names of your sisters and your brothers (imaginary siblings are fine)

sisters = ("Casandra", 'Emarld stone','Nova gold','Starfire')

brothers = ("Bruce Wayne","Clark Kent","Peter Parker","Sherlock Homes")

In [3]:
#3) Join brothers and sisters tuples and assign it to siblings
sibilings = sisters + brothers

In [4]:
sibilings

('Casandra',
 'Emarld stone',
 'Nova gold',
 'Starfire',
 'Bruce Wayne',
 'Clark Kent',
 'Peter Parker',
 'Sherlock Homes')

In [5]:
#4) How many siblings do you have?
sib_len = len(sibilings)
print(f'I have {sib_len} sibilings')

I have 8 sibilings

In [6]:
#5) Modify the siblings tuple and add the name of your father and mother and assign it to family_members

family_members = list(sibilings)

In [7]:
family_members.insert(0,'Charles Xavier')

In [8]:
family_members.insert(1, "Diana")

In [9]:
print(family_members)

['Charles Xavier', 'Diana', 'Casandra', 'Emarld stone', 'Nova gold', 'Starfire', 'Bruce Wayne', 'Clark Kent', 'Peter Parker', 'Sherlock Homes']

In [10]:
family_members = tuple(family_members)

In [11]:
type(family_members)

tuple

# Exercises: Level 2

In [12]:
#1) Unpack siblings and parents from family_members
family_members

('Charles Xavier',
 'Diana',
 'Casandra',
 'Emarld stone',
 'Nova gold',
 'Starfire',
 'Bruce Wayne',
 'Clark Kent',
 'Peter Parker',
 'Sherlock Homes')

In [13]:
(father, mother, *sibilings) = family_members

In [14]:
print(f"Father:{father}")
print(f"Mother:{mother}")
print(f"Sibilings:{sibilings}")

Father:Charles Xavier
Mother:Diana
Sibilings:['Casandra', 'Emarld stone', 'Nova gold', 'Starfire', 'Bruce Wayne', 'Clark Kent', 'Peter Parker', 'Sherlock Homes']

In [15]:
type(family_members)

tuple

In [16]:
#2) Create fruits, vegetables and animal products tuples. Join the three tuples and assign it to a variable called food_stuff_tp.

fruits = ("Apple","Pineapple","Watermelon","Banana")
vegetables = ("Carrots","Soya", "Garbanzo Beans","Broccoli")
animal_products = ("Milk","Ghee","Butter","Eggs")

In [17]:
food_stuff_tp = fruits + vegetables +  animal_products

In [18]:
print(food_stuff_tp)

('Apple', 'Pineapple', 'Watermelon', 'Banana', 'Carrots', 'Soya', 'Garbanzo Beans', 'Broccoli', 'Milk', 'Ghee', 'Butter', 'Eggs')

In [19]:
#3) Change the about food_stuff_tp tuple to a food_stuff_lt list
food_stuff_lt = list(food_stuff_tp)

In [20]:
type(food_stuff_lt)

list

In [21]:
#4) Slice out the middle item or items from the food_stuff_tp tuple or food_stuff_lt list.

del food_stuff_lt[7]

In [22]:
print(food_stuff_lt)

['Apple', 'Pineapple', 'Watermelon', 'Banana', 'Carrots', 'Soya', 'Garbanzo Beans', 'Milk', 'Ghee', 'Butter', 'Eggs']

In [23]:
#5)  Slice out the first three items and the last three items from food_stuff_lt list

first_three_items = food_stuff_lt[0:3]

In [24]:
first_three_items

['Apple', 'Pineapple', 'Watermelon']

In [25]:
last_three_items = food_stuff_lt[-3:]

In [26]:
last_three_items

['Ghee', 'Butter', 'Eggs']

In [27]:
#6) Delete the food_stuff_tp tuple completely
del food_stuff_tp

In [28]:
#7) Check if an item exists in tuple:
'''
-> Check if 'Estonia' is a nordic country

-> Check if 'Iceland' is a nordic country
'''

nordic_countries = ('Denmark', 'Finland','Iceland', 'Norway', 'Sweden')

In [29]:
#i) Check if 'Estonia' is a nordic country

"Estonia" in nordic_countries

False

In [30]:
#ii) heck if 'Iceland' is a nordic country

"Iceland" in nordic_countries

True