# Exercsie - Leven 1: List

In [1]:
playlist = ['F1 Theme','Dark knight rises epic','Jersey','Jagadeesh on mission']

In [2]:
i = 0 
for music in playlist:
    i+=1
    print(i , music)

1 F1 Theme
2 Dark knight rises epic
3 Jersey
4 Jagadeesh on mission

In [3]:
#1) Declare an empty list
empty_list = []

In [4]:
#2) Declare a list with more than 5 items

cities = ['YVR', 'SFO','LAX','YVZ']

In [5]:
#3) Find the length of your list

print(len(cities))

4

In [6]:
cities.append("JFK")

In [7]:
#4) Get the first item, the middle item and the last item of the list

print(cities[0:5:2])

['YVR', 'LAX', 'JFK']

In [8]:
#5) Declare a list called mixed_data_types, put your(name, age, height, marital status, address)
bio = ['Gops',25,'5.10','unmarried','Burnaby, BC']

In [9]:
print(bio)

['Gops', 25, '5.10', 'unmarried', 'Burnaby, BC']

In [10]:
#6) Declare a list variable named it_companies and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.

it_companies = ['Facebook','Google','Mircosoft','Apple','IBM','Oracle','Amazon']

In [11]:
print(it_companies)

['Facebook', 'Google', 'Mircosoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [12]:
len(it_companies)

7

In [13]:
#7) Print the first, middle and last company

print(it_companies[0:7:3])

['Facebook', 'Apple', 'Amazon']

In [14]:
it_companies[5] = "Netflix"

In [15]:
print(it_companies)

['Facebook', 'Google', 'Mircosoft', 'Apple', 'IBM', 'Netflix', 'Amazon']

In [16]:
#11) Add an IT company to it_companies

it_companies.insert(5,'NTT Data')

In [17]:
print(it_companies)

['Facebook', 'Google', 'Mircosoft', 'Apple', 'IBM', 'NTT Data', 'Netflix', 'Amazon']

In [18]:
#13) Change one of the it_companies names to uppercase (IBM excluded!)

it_companies[2] = it_companies[2].upper()

In [19]:
it_companies

['Facebook',
 'Google',
 'MIRCOSOFT',
 'Apple',
 'IBM',
 'NTT Data',
 'Netflix',
 'Amazon']

In [20]:
#14) Join the it_companies with a string '#;  '

it_companies  = "#; ".join(it_companies)

In [21]:
it_companies

'Facebook#; Google#; MIRCOSOFT#; Apple#; IBM#; NTT Data#; Netflix#; Amazon'

In [22]:
#15) Check if a certain company exists in the it_companies list.

"Z" in it_companies

False

In [23]:
it = []
for n in it_companies:
    it.append(n)

In [24]:
print(it)

['F', 'a', 'c', 'e', 'b', 'o', 'o', 'k', '#', ';', ' ', 'G', 'o', 'o', 'g', 'l', 'e', '#', ';', ' ', 'M', 'I', 'R', 'C', 'O', 'S', 'O', 'F', 'T', '#', ';', ' ', 'A', 'p', 'p', 'l', 'e', '#', ';', ' ', 'I', 'B', 'M', '#', ';', ' ', 'N', 'T', 'T', ' ', 'D', 'a', 't', 'a', '#', ';', ' ', 'N', 'e', 't', 'f', 'l', 'i', 'x', '#', ';', ' ', 'A', 'm', 'a', 'z', 'o', 'n']

In [25]:
it_companies = ['Facebook','Google','Mircosoft','Apple','IBM','Oracle','Amazon']

In [26]:
it_companies

['Facebook', 'Google', 'Mircosoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [27]:
#16) Sort the list using sort() method

it_companies.sort()

In [28]:
#17) Reverse the list in descending order using reverse() method


it_companies.reverse()

In [29]:
print(it_companies)

['Oracle', 'Mircosoft', 'IBM', 'Google', 'Facebook', 'Apple', 'Amazon']

In [30]:
#18) Slice out the first 3 companies from the list

print(it_companies[0:3])

['Oracle', 'Mircosoft', 'IBM']

In [31]:
it_companies = ['Facebook','Google','Mircosoft','Apple','IBM','Oracle','Amazon']

In [32]:
it_companies.sort(reverse = False)

In [33]:
it_companies

['Amazon', 'Apple', 'Facebook', 'Google', 'IBM', 'Mircosoft', 'Oracle']

In [34]:
#19) Slice out the last 3 companies from the list
del it_companies[-3:]

In [35]:
print(it_companies)

['Amazon', 'Apple', 'Facebook', 'Google']

In [36]:
#20) Slice out the middle IT company or companies from the list


del it_companies[1:3]

In [37]:
it_companies

['Amazon', 'Google']

In [38]:
#24) Remove all IT companies from the list
it_companies.clear()

In [39]:
it_companies

[]

In [40]:
#25) Destroy the IT companies list
del it_companies

In [41]:
#26) Join the following lists:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']

In [42]:
back_end = ['Node','Express', 'MongoDB']

In [43]:
full_stack = front_end + back_end

In [44]:
#After joining the lists in question 26. Copy the joined list and assign it to a variable full_stack, then insert Python and SQL after Redux.
full_stack

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

In [45]:
full_stack.insert(5,'Python')

In [46]:
full_stack.insert(6, 'SQL')

In [47]:
full_stack

['HTML',
 'CSS',
 'JS',
 'React',
 'Redux',
 'Python',
 'SQL',
 'Node',
 'Express',
 'MongoDB']

# Exercise - Level 2: List

In [48]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

In [49]:
#1) Sort the list and find the min and max age

ages.sort()

In [50]:
print(ages)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]

In [51]:
#2) Add the min age and the max age again to the list
min(ages)

19

In [52]:
max(ages)

26

In [53]:
#3) Find the average age (sum of all items divided by their number )

average_age = sum(ages)/len(ages)

average_age

22.8

In [54]:
import statistics as st

avg_age = st.mean(ages)
avg_age

22.8

In [55]:
#4) Find the median age (one middle item or two middle items divided by two)
m_age = st.median(ages)
m_age

24.0

In [56]:
min_age = min(ages)
max_age = max(ages)

In [57]:
#5) Compare the value of (min - average) and (max - average), use abs() method

min_diff = abs(min_age - avg_age)
max_diff = abs(max_age - avg_age)

print(f"Min difference:{min_diff}")
print(f"Max difference: {max_diff}")

Min difference:3.8000000000000007
Max difference: 3.1999999999999993

# Exercise - Level 3: List

In [58]:
countries = [
  'Afghanistan',
  'Albania',
  'Algeria',
  'Andorra',
  'Angola',
  'Antigua and Barbuda',
  'Argentina',
  'Armenia',
  'Australia',
  'Austria',
  'Azerbaijan',
  'Bahamas',
  'Bahrain',
  'Bangladesh',
  'Barbados',
  'Belarus',
  'Belgium',
  'Belize',
  'Benin',
  'Bhutan',
  'Bolivia',
  'Bosnia and Herzegovina',
  'Botswana',
  'Brazil',
  'Brunei',
  'Bulgaria',
  'Burkina Faso',
  'Burundi',
  'Cabo Verde',
  'Cambodia',
  'Cameroon',
  'Canada',
  'Central African Republic',
  'Chad',
  'Chile',
  'China',
  'Colombia',
  'Comoros',
  'Congo, Democratic Republic of the',
  'Congo, Republic of the',
  'Costa Rica',
  "Côte d'Ivoire",
  'Croatia',
  'Cuba',
  'Cyprus',
  'Czech Republic',
  'Denmark',
  'Djibouti',
  'Dominica',
  'Dominican Republic',
  'East Timor (Timor-Leste)',
  'Ecuador',
  'Egypt',
  'El Salvador',
  'Equatorial Guinea',
  'Eritrea',
  'Estonia',
  'Eswatini',
  'Ethiopia',
  'Fiji',
  'Finland',
  'France',
  'Gabon',
  'Gambia',
  'Georgia',
  'Germany',
  'Ghana',
  'Greece',
  'Grenada',
  'Guatemala',
  'Guinea',
  'Guinea-Bissau',
  'Guyana',
  'Haiti',
  'Honduras',
  'Hungary',
  'Iceland',
  'India',
  'Indonesia',
  'Iran',
  'Iraq',
  'Ireland',
  'Israel',
  'Italy',
  'Jamaica',
  'Japan',
  'Jordan',
  'Kazakhstan',
  'Kenya',
  'Kiribati',
  'Korea, North',
  'Korea, South',
  'Kuwait',
  'Kyrgyzstan',
  'Laos',
  'Latvia',
  'Lebanon',
  'Lesotho',
  'Liberia',
  'Libya',
  'Liechtenstein',
  'Lithuania',
  'Luxembourg',
  'Madagascar',
  'Malawi',
  'Malaysia',
  'Maldives',
  'Mali',
  'Malta',
  'Marshall Islands',
  'Mauritania',
  'Mauritius',
  'Mexico',
  'Micronesia',
  'Moldova',
  'Monaco',
  'Mongolia',
  'Montenegro',
  'Morocco',
  'Mozambique',
  'Myanmar',
  'Namibia',
  'Nauru',
  'Nepal',
  'Netherlands',
  'New Zealand',
  'Nicaragua',
  'Niger',
  'Nigeria',
  'North Macedonia',
  'Norway',
  'Oman',
  'Pakistan',
  'Palau',
  'Palestine',
  'Panama',
  'Papua New Guinea',
  'Paraguay',
  'Peru',
  'Philippines',
  'Poland',
  'Portugal',
  'Qatar',
  'Romania',
  'Russia',
  'Rwanda',
  'Saint Kitts and Nevis',
  'Saint Lucia',
  'Saint Vincent and the Grenadines',
  'Samoa',
  'San Marino',
  'Sao Tome and Principe',
  'Saudi Arabia',
  'Senegal',
  'Serbia',
  'Seychelles',
  'Sierra Leone',
  'Singapore',
  'Slovakia',
  'Slovenia',
  'Solomon Islands',
  'Somalia',
  'South Africa',
  'South Sudan',
  'Spain',
  'Sri Lanka',
  'Sudan',
  'Suriname',
  'Sweden',
  'Switzerland',
  'Syria',
  'Tajikistan',
  'Tanzania',
  'Thailand',
  'Togo',
  'Tonga',
  'Trinidad and Tobago',
  'Tunisia',
  'Turkey',
  'Turkmenistan',
  'Tuvalu',
  'Uganda',
  'Ukraine',
  'United Arab Emirates',
  'United Kingdom',
  'United States',
  'Uruguay',
  'Uzbekistan',
  'Vanuatu',
  'Vatican City',
  'Venezuela',
  'Vietnam',
  'Yemen',
  'Zambia',
  'Zimbabwe'
]

In [59]:
#1) Find the middle country(ies) in the countries list
n = len(countries)
n

195

In [60]:
if n % 2==1:
    print(countries[n//2])
else:
    print(counties[n//2-1:n//2 + 1])

Lesotho

In [61]:
middle_country = st.median(countries)
middle_country

'Lesotho'

In [62]:
#2) Divide the countries list into two equal lists if it is even if not one more country for the first half.

first_half = countries[:98]

In [63]:
len(first_half)

98

In [64]:
second_half = countries[98:]

In [65]:
len(second_half)

97

In [66]:
first_half

['Afghanistan',
 'Albania',
 'Algeria',
 'Andorra',
 'Angola',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bhutan',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'Brunei',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cabo Verde',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Comoros',
 'Congo, Democratic Republic of the',
 'Congo, Republic of the',
 'Costa Rica',
 "Côte d'Ivoire",
 'Croatia',
 'Cuba',
 'Cyprus',
 'Czech Republic',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'East Timor (Timor-Leste)',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Eswatini',
 'Ethiopia',
 'Fiji',
 'Finland',
 'France',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Grenada',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'Korea, North',
 'Korea, South',
 'Kuwait',
 'Kyrgyzstan',
 'Laos',
 'Latvia',
 'Lebanon',
 'Lesotho']

In [67]:
second_half

['Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Marshall Islands',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Micronesia',
 'Moldova',
 'Monaco',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nauru',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'North Macedonia',
 'Norway',
 'Oman',
 'Pakistan',
 'Palau',
 'Palestine',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Qatar',
 'Romania',
 'Russia',
 'Rwanda',
 'Saint Kitts and Nevis',
 'Saint Lucia',
 'Saint Vincent and the Grenadines',
 'Samoa',
 'San Marino',
 'Sao Tome and Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'Sudan',
 'Suriname',
 'Sweden',
 'Switzerland',
 'Syria',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Togo',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Tuvalu',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Vatican City',
 'Venezuela',
 'Vietnam',
 'Yemen',
 'Zambia',
 'Zimbabwe']

In [68]:
#3) ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']. Unpack the first three countries and the rest as scandic countries.

world_countries = ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']

In [69]:
first_three_countries = world_countries[:3]

In [70]:
first_three_countries

['China', 'Russia', 'USA']

In [71]:
scandic_countries = world_countries[3:]

In [72]:
scandic_countries

['Finland', 'Sweden', 'Norway', 'Denmark']