In [1]:
#sets
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

# Exercises: Level 1

In [2]:
#1) Find the length of the set it_companies

len_it_companies =  len(it_companies)
len_it_companies

7

In [3]:
#2) Add 'Twitter' to it_companies
it_companies.add("Twitter")
print(it_companies)

{'Apple', 'IBM', 'Twitter', 'Google', 'Amazon', 'Oracle', 'Microsoft', 'Facebook'}

In [4]:
#3) Insert multiple IT companies at once to the set it_companies

it = ["Universal Studios","NTT data", "BC Technologia","Open Source"]
it_companies.update(it)

In [5]:
it_companies

{'Amazon',
 'Apple',
 'BC Technologia',
 'Facebook',
 'Google',
 'IBM',
 'Microsoft',
 'NTT data',
 'Open Source',
 'Oracle',
 'Twitter',
 'Universal Studios'}

In [6]:
#4) Remove one of the companies from the set it_companies

it_companies.remove("Universal Studios")

In [7]:
it_companies

{'Amazon',
 'Apple',
 'BC Technologia',
 'Facebook',
 'Google',
 'IBM',
 'Microsoft',
 'NTT data',
 'Open Source',
 'Oracle',
 'Twitter'}

In [8]:
#5) What is the difference between remove and discard

"""
Discard: It helps us to remove the elements which you are not sure
if it exists in the set and it doesn't raise an error

Remove: Its opposite of the discard. It removes the element if it exists in the set and t raises a keyerror 
"""

"\nDiscard: It helps us to remove the elements which you are not sure\nif it exists in the set and it doesn't raise an error\n\nRemove: Its opposite of the discard. It removes the element if it exists in the set and t raises a keyerror \n"

#  Exercises: Level 2

In [9]:
#1) Join A and B
C = A.union(B)
print(C)

{19, 20, 22, 24, 25, 26, 27, 28}

In [10]:
#2) Find A intersection B
print(A.intersection(B))

{19, 20, 22, 24, 25, 26}

In [11]:
#3) Is A subset of B
A.issubset(B)

True

In [12]:
#4) Are A and B disjoint sets
A.isdisjoint(B)

False

In [13]:
#5) Join A with B and B with A

D = A.union(B)
E = B.union(A)

In [14]:
print(f"D:{D} and E:{E}")

D:{19, 20, 22, 24, 25, 26, 27, 28} and E:{19, 20, 22, 24, 25, 26, 27, 28}

In [15]:
#6) What is the symmetric difference between A and B
A.symmetric_difference(B)

{27, 28}

In [16]:
#7) Delete the sets completely
del A, B, it_companies

#  Exercises: Level 3

In [18]:
#1) Convert the ages to a set and compare the length of the list and the set, which one is bigger?
ages = set(age)

In [20]:
print('Length of Set:', len(ages))
print("Length of List:", len(age))

Length of Set: 5
Length of List: 8

In [21]:
#2) Explain the difference between the following data types: string, list, tuple and set

"""
String:
- A sequence of characters
- Defined using ' ' or " "
- Ordered
- Immutable

List:
- Defined using [ ]
- Ordered
- Mutable
- Allows duplicate values
- Can contain multiple data types

Tuple:
- Defined using ( )
- Ordered
- Immutable
- Allows duplicate values
- Can contain multiple data types

Set:
- Defined using { }
- Unordered
- Mutable (but elements must be immutable)
- Does NOT allow duplicate values
"""

'\nString:\n- A sequence of characters\n- Defined using \' \' or " "\n- Ordered\n- Immutable\n\nList:\n- Defined using [ ]\n- Ordered\n- Mutable\n- Allows duplicate values\n- Can contain multiple data types\n\nTuple:\n- Defined using ( )\n- Ordered\n- Immutable\n- Allows duplicate values\n- Can contain multiple data types\n\nSet:\n- Defined using { }\n- Unordered\n- Mutable (but elements must be immutable)\n- Does NOT allow duplicate values\n'

In [22]:
#3) I am a teacher and I love to inspire and teach people. How many unique words have been used in the sentence? Use the split methods and set to get the unique words.

sentence = "I am a teacher and I love to inspire and teach people"

In [23]:
words = sentence.split()

In [24]:
print(words)

['I', 'am', 'a', 'teacher', 'and', 'I', 'love', 'to', 'inspire', 'and', 'teach', 'people']

In [25]:
#Converting list to a set to remove duplicates
unique_words = set(words)

In [26]:
count = len(unique_words)

In [27]:
words = sentence.split()
unique_words = set(words)

In [28]:
print("Unique words:", unique_words)
print("Number of unique words:", len(unique_words))

Unique words: {'I', 'teach', 'a', 'to', 'people', 'and', 'am', 'love', 'teacher', 'inspire'}
Number of unique words: 10